.tou{
	position: relative;
	clear:both;
	height: 0.46rem;
	line-height: 0.46rem;
	font-size: 0.16rem;
	border-bottom: 1px gray solid;
	.jiantou{
		position: absolute;
		left:0.15rem;
		top:0;
	}
	.dingdan{
		text-align: center;
	}
}
.liebiao{
	display: flex;
	justify-content: space-around;
	height: 0.44rem;
	line-height: 0.44rem;
	font-size: 0.14rem;
	border-bottom: 1px gray solid;
}

