
.bigbox{
	padding-bottom: .50rem;
}

img{
	width: 100%;
}
.topbanner{
	position: relative;
	p{
		position: absolute;
		height: 100%;
		width:.35rem;
		top:0;
		left: 0;
	}
}
.top{
	position: relative;
	.kuang{
		position: absolute;
		width: 90%;
		height:.35rem;
		left: 0;
		right:0;
		margin: auto;
		top:.10rem;
		z-index: 3;
		background: white;
		border-radius: .05rem;
		input{
			margin-left: .05rem;
			width: 80%;
			height: 100%;
			border:none;
			outline: none;
		}
	}
}

.banner{
	background: #f0f0f0;
	height:1.20rem;
	.cont{
		display: flex;
		width: 3.00rem;
		img{
			height:1.10rem;
			width:1.10rem;
			display: block;
			margin-left: .05rem;
			margin-top: .05rem;
			border-radius: .05rem;
		}
		.right{
			height:100%;
			.tittle{

			}
		}
	}
}

.bannerlist{
	margin-top: .10rem;
	margin-bottom: .20rem;
	ul:first-of-type{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		li{
			width: 49%;
		}
		li:last-of-type{
			img{
				width: 50%;
			}
		}
	}

	ul:nth-of-type(2){
		display: flex;
		justify-content: space-around;
		width: 95%;
		margin: auto;
		margin-bottom: .10rem;
		li{
			width: 1.14rem;
			height:.24rem;
			i{
				font-size:.25rem;
				color:gray;
			}
			span{
				margin-left: .05rem;
				color:red;
				line-height: .30rem;
				font-size:.14rem;
			}
		}
	}
}